*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Header*/
@font-face {
    font-family: 'baskerville';
    src: url('/fonts/Baskervville-Regular.ttf');
}

header img{
    position: absolute;
}

header ul {

    list-style-type: none;
    margin: 8px 50px 0 50px;
    padding: 1px; 
    overflow: hidden;
    border-bottom: 1px solid #b27777;
}


header li {
    float: right;/*coloca tudo na direita*/
}

header li a {
    display: block;
    color: #b27777;/*cor da letra*/
    text-decoration: none;

}


header li a:hover {
    color: #503b33;/* Mudar a cor do link ao passar o mouse */
}

/*Body*/


.indroducao{
    overflow: hidden;
}
section.indroducao h1{
    margin-top: 50px;
    margin-left: 100px;
    font-family: baskerville;
    font-size: 55px;
    color: #b27777;/*cor da letra*/

}

section.indroducao h2{
    margin-top: 40px;
    margin-left: 100px;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b27777;/*cor da letra*/
}
section.indroducao img{
    display: flex;
    width: 500px;
    height: auto;

}
.brunaipe{
    float: left;
    margin-left: 80px;
    margin-right: 100px;
}


section.indroducao .textintro p{

    margin-left: 100px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 75%;
    height: auto;
    color: #b27777;/*cor da letra*/

}
.bruna2{
    
    float: right;
    margin-right: 100px;
}
section.indroducao .segundotexto h1{
    
    margin-left: 100px;
}
section.indroducao .segundotexto p{
    margin-left: 100px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b27777;/*cor da letra*/
    

}


@media screen and (min-width:1432px) {
    section.indroducao .segundotexto h1{
        
        float: left;
        margin-right: 500px;
    } 
    section.indroducao .segundotexto p{
        display: flex;
        float: left;
        width: 600px;
        margin-right: 80px;
    }


}
@media screen and (max-width:1428px) {
    .bruna2{
        display: none;
    }
  
}



/* COMEÇA O SLIDE */

.mySlides {
    box-sizing: border-box;
    display: none;
    margin-top: 25px;

}

.slideshow-container .mySlides img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    position: relative;
    margin: auto;
    background-color: #503b33;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(80, 59, 51, 0.2);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.ponto_container {
    position: relative;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.7
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.7
    }
    to {
        opacity: 1
    }
}


.img1 {
    display: none;
}

.img2 {
    display: block;
}




/*footer*/


.contatos  .right img{
width: 50%;
height: auto;
}
.contato {
    font-size: 0; 
}
.contatos  .right .contato .whatzap ,.contatos  .right .contato .instagram {

text-align: center;
}
.contatos  .right .contato img  {

   
    width: 30%; 
    padding: 5px; 

}
.right h1{
    text-align: center;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b27777;/*cor da letra*/

}
.right h2{
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b27777;/*cor da letra*/
}
.mapa h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px ;
    color: #b27777;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mapa{
    text-align: center;
}
.mapaa{
    border-radius: 10px;
    outline:#b27777 3px solid;
}
footer{
    background-color: rgb(31, 31, 31);
    text-align: center;
}

.links a,.links p{
    text-align: left;
    color:white ;
    text-decoration: none;
    padding-left: 10px;
    margin-bottom: -8px;
}

.logofooter{
    margin-top: -46px;
    width: 5%;
    height: auto;
}
.Copyright{
    text-align: right;
    padding-bottom:10px ;
    color:white;

}
/*Responsividade*/


@media screen and (min-width: 601px) {
    header img {
        
        width: 180px;
        height: auto;
        top: 10px;
        margin-left: 15px;
    }

    header li a {
        font-size: 20px;
        padding: 14px 16px;
    }

}

@media screen and (max-width: 600px) {
    header img {
        width: 180px;
        height: auto;
        top: 0.09cm;
        margin-left: 15px;
        margin-top: -8px;
    }

    header ul {
        margin: 0 10px 0 50px;
    }

    header li a {
        font-size: 13px;
        padding: 14px 5px;
    }
    .segundotexto .bruna2{
        width: 350px;
        height: auto;
    }
    .mapa{
        display: none;
    }
    .Copyright{
        display: none;
    }
    .links a,.links p{
        text-align: center;
        font-size: large;
    }
}
@media screen and (max-width: 768px) {
    .mySlides {
        box-sizing: border-box;
        display: none;
        margin-top: 25px;

    }

    .slideshow-container .mySlides img {
        vertical-align: middle;
        width: 100%;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
        background-color: #503b33;
    }

    .img1 {
        display: block;
    }
    .img2 {
        display: none;
    }

    
    .contatos  h1{
        margin-left: -5px
    }
    .contatos  h2{
        margin-left: -5px
    }
    .contatos  .right .contato a{
   
        display: flex;
        justify-content: center; 
        align-items: center;
        
    }
    .contatos .right .contato img{
        width: 70%;
        height: auto;
    }
    section.indroducao .textintro h1{
        text-align: center;
        margin-left: auto;
    }
    section.indroducao .textintro p,section.indroducao .textintro h2{
        margin: auto;
        text-align: center;
    
    } 
    section.indroducao .segundotexto p,section.indroducao .segundotexto h1{
        margin: auto;
        text-align: center;
    }


}
@media screen and (max-width: 1115px){
     .brunaipe{
        display: none;
    }

}
@media screen and (min-width: 1280px) {
    .footer .Copyright    { font-size: 16px; }
    
    }
